[core]
	editor = vim
	excludesfile = ~/.gitignore
[user]
	name = Christof Angermueller
	email = cangermueller@gmail.com
[color]
	ui = true
[pager]
	diff =
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = simple
[credential]
	helper = cache
